{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/index.css' %}" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">

    <title>Suburbio em Transe</title>
</head>

<body>
    {% include 'header.html' %}

    <section class="carrossel">
        <div class="text-carrossel">
            <h1 class="title-carrossel">Suburbio em transe</h1>
            <span class="p-carrossel">Na vastidão silenciosa da noite, as estrelas cintilam como diamantes dispersos pelo universo. Sob o manto escuro do céu, a lua brilha com seu fulgor prateado, lançando sua luz sobre a terra adormecida. Nas sombras das árvores, segredos sussurram entre as folhas ao sopro do vento noturno, enquanto os grilos entoam sua sinfonia misteriosa. </span>
            <button>Agende sua visita</button>
        </div>

        <div class="carousel" onmouseover="pauseCarousel()" onmouseout="startCarousel()">
            <img class="carousel-img active" src="{% static 'images/suburbio.png' %}" alt="Image 1">
            <img class="carousel-img" src="{% static 'images/image.png' %}" alt="Image 2">
            <img class="carousel-img" src="{% static 'images/image3.jpg' %}" alt="Image 3">

            <div class="indicators">
              <span class="indicator active" onclick="showImage(0)"></span>
              <span class="indicator" onclick="showImage(1)"></span>
              <span class="indicator" onclick="showImage(2)"></span>
            </div>
          </div>

    </section>

    <div class="day-background">
        <ul class="day">
            <li class="li-day">DOM</li>
            <li class="li-day">SEG</li>
            <li class="li-day">TER</li>
            <li class="li-day">QUA</li>
            <li class="li-day">QUI</li>
            <li class="li-day">SEX</li>
            <li class="li-day">SAB</li>
        </ul>
    </div>

<section class="events" id="events">
    <h2 class="title-events">Eventos</h2>
    <div class="events-container">
        {% for event in events %}
            <div class="event">
                {% if event.image %}
                <div class="event-img">
                    <img src="data:image/jpeg;base64,{{ event.image }}" alt="{{ event.title }}">
                </div>
                {% endif %}
                <div class="event-text">
                    <h3 class="event-title">{{ event.title }}</h3>
                    <p id="texto">{{ event.description }}</p>
                </div>
                <span class="event-date">{{ event.date }}</span>
            </div>
        {% endfor %}
    </div>
</section>

<!--<section class="contact">-->
<!--        <h2 class="title-contact">Contato</h2>-->
<!--        <div class="contact-container">-->
<!--            <div class="contact-info">-->
<!--                <h3 class="contact-title">Horário de funcionamento</h3>-->
<!--                <p>Segunda a sexta: 9h às 18h</p>-->
<!--                <p>Sábado: 9h às 13h</p>-->
<!--                <p>Domingo: Fechado</p>-->
<!--            </div>-->
<!--            <div class="contact-info">-->
<!--                <h3 class="contact-title">Endereço</h3>-->
<!--                <p>Av. São Félix, 601 - Vista Alegre, Rio de Janeiro</p>-->
<!--            </div>-->
<!--            <div class="contact-info">-->
<!--                <h3 class="contact-title">Telefone</h3>-->
<!--                <p>(21) 99999-9999</p>-->
<!--            </div>-->
<!--        </div>-->
<!--</section>-->


<!--    <section class="contact">-->
<!--        <h2 class="title-contact">Contato</h2>-->
<!--        <div class="contact-container">-->
<!--            <div class="contact-info">-->
<!--                <h3 class="contact-title">Horário de funcionamento</h3>-->
<!--                <p>Segunda a sexta: 9h às 18h</p>-->
<!--                <p>Sábado: 9h às 13h</p>-->
<!--                <p>Domingo: Fechado</p>-->
<!--            </div>-->
<!--            <div class="contact-info">-->
<!--                <h3 class="contact-title">Endereço</h3>-->
<!--                <p>Av. São Félix, 601 - Vista Alegre, Rio de Janeiro</p>-->
<!--            </div>-->
<!--            <div class="contact-info">-->
<!--                <h3 class="contact-title">Telefone</h3>-->
<!--                <p>(21) 99999-9999</p>-->
<!--            </div>-->
<!--        </div>-->

    {% include 'footer.html' %}

    <script src= "{% static 'script/script.js' %}"></script>
</body>

</html>