{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'image/favicon-32x32.png' %}">

    <title>Suburbio em Transe</title>
</head>

<body>
    <nav>
        <ul class="navbar">
            <li class="li-nav" id="logo"><a href="#"> <img src="{% static 'images/suburbio.png' %}"></a></li>
            <li class="li-nav"><img src="{% static 'images/location.svg' %}" >Av. São Félix, 601 - Vista Alegre, Rio de Janeiro <img src="{% static 'images/expand.svg' %}"> </li>
            <li class="li-nav"><a href="https://www.instagram.com/suburbioemtranse/" target="_blank"><img src="{% static 'images/instagram.svg' %}" >@Suburbioemtranse </a></li>
            <li class="li-nav"><a href="#events"> <img src="{% static 'images/calendar.svg' %}" >Eventos </a></li>
            <li class="li-nav"><img src="{% static 'images/barra.svg' %}"></li>
        </ul>
    </nav>

    <section class="carrossel">
        <div class="text-carrossel">
            <h1 class="title-carrossel">Suburbio em transe</h1>
            <span class="p-carrossel">Na vastidão silenciosa da noite, as estrelas cintilam como diamantes dispersos pelo universo. Sob o manto escuro do céu, a lua brilha com seu fulgor prateado, lançando sua luz sobre a terra adormecida. Nas sombras das árvores, segredos sussurram entre as folhas ao sopro do vento noturno, enquanto os grilos entoam sua sinfonia misteriosa. </span>
            <button>Agende sua visita</button>
        </div>

        <div class="carousel" onmouseover="pauseCarousel()" onmouseout="startCarousel()">
            <img class="carousel-img active" src="{% static 'images/suburbio.png' %}" alt="Image 1">
            <img class="carousel-img" src="{% static 'images/image.png' %}" alt="Image 2">
            <img class="carousel-img" src="{% static 'images/image3.jpg' %}" alt="Image 3">

            <div class="indicators">
              <span class="indicator active" onclick="showImage(0)"></span>
              <span class="indicator" onclick="showImage(1)"></span>
              <span class="indicator" onclick="showImage(2)"></span>
            </div>
          </div>

    </section>

    <div class="day-background">
        <ul class="day">
            <li class="li-day">DOM</li>
            <li class="li-day">SEG</li>
            <li class="li-day">TER</li>
            <li class="li-day">QUA</li>
            <li class="li-day">QUI</li>
            <li class="li-day">SEX</li>
            <li class="li-day">SAB</li>
        </ul>
    </div>

    <section class="events" id="events">
        <h2 class="title-events">Eventos</h2>
        <div class="events-container">
            <div class="event">
                <div class="event-img"><img src="{% static 'images/NossoSonho.png' %}" alt="Event 2"></div>
                <div class="event-text">
                    <h3 class="event-title">Nosso Sonho</h3>
                    <p>A ficção, dirigida por Eduardo Albergaria, conta a história de amizade e sucesso da dupla Claudinho e Buchecha, bem como mostra os aspectos regionais e temporais ao entorno do funk melody carioca, como os bailes da Furacão 2000 transmitidos na TV na hora do almoço, ou o vestuário utilizado na época pelos MCs e por quem vivenciava a mesma cultura.</p>
                </div>
                <span class="event-date">SÁB</br>18H</span>
            </div>

            <div class="event">
                <div class="event-img"><img src="{% static 'images/event2.jpg' %}" alt="Event 2"></div>
                <div class="event-text">
                    <h3 class="event-title">Concerto ao ar livre</h3>
                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                </div>
                <span class="event-date">QUA</br>19H</span>
            </div>

            <div class="event">
                <div class="event-img"><img src="{% static 'images/NossoSonho.png' %}" alt="Event 2"></div>
                <div class="event-text">
                    <h3 class="event-title">Nosso Sonho</h3>
                    <p>A ficção, dirigida por Eduardo Albergaria, conta a história de amizade e sucesso da dupla Claudinho e Buchecha, bem como mostra os aspectos regionais e temporais ao entorno do funk melody carioca, como os bailes da Furacão 2000 transmitidos na TV na hora do almoço, ou o vestuário utilizado na época pelos MCs e por quem vivenciava a mesma cultura.</p>
                </div>
                <span class="event-date">SÁB</br>18H</span>
            </div>
        </div>
    </section>

<!--<section class="contact">-->
<!--        <h2 class="title-contact">Contato</h2>-->
<!--        <div class="contact-container">-->
<!--            <div class="contact-info">-->
<!--                <h3 class="contact-title">Horário de funcionamento</h3>-->
<!--                <p>Segunda a sexta: 9h às 18h</p>-->
<!--                <p>Sábado: 9h às 13h</p>-->
<!--                <p>Domingo: Fechado</p>-->
<!--            </div>-->
<!--            <div class="contact-info">-->
<!--                <h3 class="contact-title">Endereço</h3>-->
<!--                <p>Av. São Félix, 601 - Vista Alegre, Rio de Janeiro</p>-->
<!--            </div>-->
<!--            <div class="contact-info">-->
<!--                <h3 class="contact-title">Telefone</h3>-->
<!--                <p>(21) 99999-9999</p>-->
<!--            </div>-->
<!--        </div>-->

<!--    <section class="events" id="evento">-->
<!--    <h2 class="title-events">Eventos</h2>-->
<!--    <div class="events-container">-->
<!--        {% for event in evento %}-->
<!--        <div class="event">-->
<!--            <div class="event-img"><img src="{{ event.image.url }}" alt="{{ event.title }}"></div>-->
<!--            <div class="event-text">-->
<!--                <h3 class="event-title">{{ event.title }}</h3>-->
<!--                <p>{{ event.description }}</p>-->
<!--            </div>-->
<!--            <span class="event-date">{{ event.date }}</span>-->
<!--        </div>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--    </section>-->

<!--    <section class="contact">-->
<!--        <h2 class="title-contact">Contato</h2>-->
<!--        <div class="contact-container">-->
<!--            <div class="contact-info">-->
<!--                <h3 class="contact-title">Horário de funcionamento</h3>-->
<!--                <p>Segunda a sexta: 9h às 18h</p>-->
<!--                <p>Sábado: 9h às 13h</p>-->
<!--                <p>Domingo: Fechado</p>-->
<!--            </div>-->
<!--            <div class="contact-info">-->
<!--                <h3 class="contact-title">Endereço</h3>-->
<!--                <p>Av. São Félix, 601 - Vista Alegre, Rio de Janeiro</p>-->
<!--            </div>-->
<!--            <div class="contact-info">-->
<!--                <h3 class="contact-title">Telefone</h3>-->
<!--                <p>(21) 99999-9999</p>-->
<!--            </div>-->
<!--        </div>-->

    <footer>
        <p>&copy; 2023 Suburbio em Transe. Todos os direitos reservados.</p>
        <p>Contato: contato@suburbioemtranse.com</p>
    </footer>

    <script src= "{% static 'script/script.js' %}"></script>
</body>

</html>