{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/index.css' %}" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">

    <title>Suburbio em Transe</title>
</head>

<body>
    <div class="main">
        {% include 'header_logged.html' %}
        <div class="content">
            <section class="carrossel">
            <div class="text-carrossel">
                <h1 class="title-carrossel">Suburbio em transe</h1>
                <span class="p-carrossel">Na vastidão silenciosa da noite, as estrelas cintilam como diamantes dispersos pelo universo. Sob o manto escuro do céu, a lua brilha com seu fulgor prateado, lançando sua luz sobre a terra adormecida. Nas sombras das árvores, segredos sussurram entre as folhas ao sopro do vento noturno, enquanto os grilos entoam sua sinfonia misteriosa. </span>
                <button>Agende sua visita</button>
            </div>

            <div class="carousel" onmouseover="pauseCarousel()" onmouseout="startCarousel()">
                <img class="carousel-img active" src="{% static 'images/suburbio.png' %}" alt="Image 1">
                <img class="carousel-img" src="{% static 'images/image.png' %}" alt="Image 2">
                <img class="carousel-img" src="{% static 'images/image3.jpg' %}" alt="Image 3">

                <div class="indicators">
                  <span class="indicator active" onclick="showImage(0)"></span>
                  <span class="indicator" onclick="showImage(1)"></span>
                  <span class="indicator" onclick="showImage(2)"></span>
                </div>
              </div>

        </section>

        <div class="day-background">
            <ul class="day">
                <li class="li-day">"SEJA A MUDANÇA QUE VOCÊ QUER VER NO MUNDO."</li>
            </ul>
        </div>

    <section class="events" id="events">
        <div class="secundaria">
        <h2 class="title-events">Eventos</h2>
        <div class="events-container">
            {% for event in events %}
                <div class="event">
                    {% if event.image %}
                    <div class="event-img">
                        <img src="data:image/jpeg;base64,{{ event.image }}" alt="{{ event.title }}">
                    </div>
                    {% endif %}
                    <div class="event-text">
                        <h3 class="event-title">{{ event.title }}</h3>
                        <p id="texto">{{ event.description }}</p>
                    </div>
                    <span class="event-date">{{ event.date|date:"d/m/Y" }}<br>{{ event.date|time:"H:i" }}</span>
                </div>
            {% endfor %}
        </div>
    </div>
        {% include 'footer.html' %}
    </section>
        </div>

    </div>
    <script src= "{% static 'script/script.js' %}"></script>
</body>

    <script src= "{% static 'script/script.js' %}"></script>
</body>

</html>