{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/login.css' %}" rel="stylesheet" />

    <title>Suburbio em Transe</title>
</head>

<body>
        <div class="content>">
            {% include 'header.html' %}
                <div class="events-container">
                    <h2 class="title-events">Cadastrar Evento</h2>
                    <div class="formulario">
                    <form method="POST" enctype="multipart/form-data">
                        <label for="user">Usuário:</label>
                        <input type="text" id="user" name="username" placeholder="Digite seu nome de usuário" required>

                        <label for="password">Senha:</label>
                        <input type="password" id="password" name="password" placeholder="Digite sua senha" required>

                        <input type="submit" value="Entar">
                    </form>
                    </div>
                </div>
            {% include 'footer.html' %}
        </div>
</body>

</html>