{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/login.css' %}" rel="stylesheet" />

    <title>Suburbio em Transe</title>
</head>

<body>
        <div class="content>">
            {% include 'header.html' %}
                <div class="events-container">
                    <fieldset class="form-fieldset">
                        <legend class="form-legend"><img src="{% static 'images/icon.png' %}"></legend>
                        <form method="POST" enctype="multipart/form-data">
                            <label for="user">Usuário:
                            <input type="text" class="form-content" id="user" maxlength="15" name="username" placeholder="Digite seu nome de usuário" required>
                            </label>

                            <label for="password">Senha:
                            <input type="password" class="form-content" id="password" maxlength="45" name="password" placeholder="Digite sua senha" required>
                            </label>

                            <input type="submit" id="button" value="Entrar">
                        </form>
                    </fieldset>
                    </div>
                </div>
            {% include 'footer.html' %}
        </div>
</body>

</html>